table {
  margin-left: 30px;
  margin-top: 40px;
  width: 10px;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #020202;
  padding: 5px 20px;
  text-align: left;
    margin-left: 30px;
  margin-top: 40px;
}

th {
  background-color: #13405e;
  color: #ffffff;
}

.btn {
  color:white;
  background-color: #13405e;
  margin-left: 50px;
  margin-top: 40px;
  padding: 15px 30px;
}
.footer-button {
  shape-image-threshold: inherit;
}

.btn:hover {
  background-color: #1a1919;
}

.addform {
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 3px;
  border-color: #020202;
}

.input {
  margin-top: 10px;
}

.btn add {
  margin-top: 15px;
}
.show {
  margin-top: 20px;
}
.norowselect {
  margin-left: 50px;
}

.check {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

